<div style="transform:scale(@scalesize)">
    <header>
        <h3><a href="#">Micro portal</a></h3>
    </header>
    <a href="MicroPortal" class="image fit"><img src="images/LabPins.jpg" alt="" /></a>
    <p>
        One-stop medical portal for a range of programs to collect and analyze results.<br />
        <br />
    </p>
    <ul class="actions special">
        <li><a href="MicroPortal" class="button textcolor">Full Story</a></li>
    </ul>
</div>

@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; } = "1.0";

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}
