@page "/about"
<style>
    div.square {
        margin-top: 10px;
        margin-bottom: 50px;
        transform: skewY(-5deg);
    }
</style>
<PageTitle>About</PageTitle>
<div class="square row" style="background-color: white;">
    <div>
        <img src="./images/me.png" style="width:100px; height:auto" /><br />
        <div style="clear:both;">

            You are visiting the website of a very small freelance company. I am the only staff.<br />
            <br />
            I have been a passionate developer for many years. Enjoys working in code and new technologies.<br />
            <br />
            I develop smart software, not the standard stuff. <br />
            My software has that little bit extra, or is much simpler than other applications.<br />
            <br />
            I study many new ways and technologies. <br />
            If I don't have a client to test the new technology in their project, I write public test projects.
            <br />
            <br />
            You can contact me or request information using the buttons below.
            <br />
            <br />
            Have A Nice Day
            <br />
            Dinand
        </div>
    </div>
    <div class=""></div>
</div>


@code {

}
