@page "/BarmateOverview"
<div style="transform:scale(@scalesize)">
        <header>
        <h3 class="logo"><a href="Barmate">Barmate</a></h3>
        </header>
        <a href="barmate" class="image fit"><img src="images/bar.jpg" alt="" /></a>
        <p>Barmate is an order webapp for any bar or restaurant. </p>
        <ul class="actions special">
            <li><a href="barmate" class="button textcolor">Full Story</a></li>
        </ul>
    </div>


   
@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; } 

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }
       
    }
}

