@page "/BarmateOverview"
<div style="transform:scale(@scalesize)">
    <header>
        <h3><a href="Barmate">Barmate</a></h3>
    </header>
    <a href="barmate" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/bar.jpg" /><br />
    </a>
    <p>Barmate is an order webapp for any bar or restaurant. </p>
    <div>
        <a href="secondsoft" class="btn btn-outline-dark dbutton ">Full Story</a>
    </div>
</div>



@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}

