@page "/Barmate"

<style>
    body {
        background-color: #222B31 !important;
    }

    #wrapper {
        color: white;
    }
    .title {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100px;
        font-weight: bold
    }

    .dhidden_bg_color {
        color: black;
        padding: 15px;
    }

    .bmFrame{
        width:20%
    }
    .bmImage{
        width:100%;
        height: auto;
        float: left;
        padding-left: 2rem;
    }

    @@media screen and (max-width: 1000px) {
        #main h3 {
            font-size: 1.2rem;
        }
    }
    @@media screen and (max-width: 768px) {
        .bmFrame{
            width:50%;
            margin:auto;
        }
        .bmImage{
            float: none;
            padding-left: unset;
        }
    }
</style>

<PageTitle>The best Mate you ever have</PageTitle>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="dheadline dheadlinebox">Your mate is ready for orders</div>
        </header>
        <div class="upperblock maintext">Barmate</div>
        <!-- Main -->
        <div id="main" style="padding:1rem 0 0 2rem;">
            <div class="bmFrame" >
                <img class="bmImage" src="./Images/Terrace.jpg" alt="" />
            </div>
            @*<div><img style="width:20%; height:auto; float: left; padding-left:2rem;" src="./Images/Terrace.jpg" alt="" /></div>*@
            <div>
                <h3 style="float: left; margin : 10%">
                    The best overview of many seats <br />or large outdoor spaces with few staff
                </h3>
            </div>

            <div style="clear: both;color: black;">
                <br />
                <DashNotes Notes="Dnotes" FontSize="0.75rem" />
            </div>
            <br />
            <div>
                <h5 style="float:left;"><a @onclick="@Details" style="text-decoration:underline">Detailed description <i class="fa-solid fa-square-caret-down"></i></a></h5>
                @*<h5 style="float:left; margin-left:1rem;"><a @onclick="@Architecture" style="text-decoration:underline">Architecture <i class="fa-solid fa-square-caret-down"></i></a></h5>*@
            </div>
            <br />
            <div hidden="@ShowDetails" class="dhidden_bg_color">
                Barmate represents the best digital service partner for hotels, restaurants and bars with indoor and outdoor spaces.<br />
                Barmate works for food courts and also for collaborating Street food trucks. <br />
                Customers and staff can place a complete order, Barmate does the rest.<br />
                The program is able to split the order and send it to the appropriate station such as bar, kitchen, dessert shop, food truck, grill, coffee corner and more.<br />
                <br />
                Each order has its own notifications. All stations will announce when they are ready to serve. <br />
                Staff will take care of the payment, which includes tools such as group payment, but also individual member payments.<br />
                Tips are kept separate, informs staff if customer demands attention.<br />
                It will even prompt staff to walk past a customer after a while so they feel seen and ready to order more.<br />
                <br />
                With Barmate you can handle large sites with less staff.<br />
                <br />
                <i class="fa-solid fa-thumbs-up"></i>That's why Barmate is your best partner you've ever had.
                <br />

            </div>
            <br />
            <div style="font-size:.75rem;">
                The web app is compatible with all newer and most older (Android 4+, Apple 7+, Edge, Chrome, Firefox, safari etc.) devices and browsers.<br />
                Dynamically designed to accommodate all different situations on site. <br />
                Convenient design with colors and quick popups to enter information in a logical way. <br />
                Colors that indicate the status of each order without the need for details.<br />
            </div>
            <br />
            <br />
        </div>
    </div>
</body>
@code {
    private string? imageSource;
    private List<DashNote> Dnotes { get; set; } = new List<DashNote>();
    private bool ShowDetails { get; set; } = true;
    private bool ShowArchitecture { get; set; } = true;
    protected override async Task OnParametersSetAsync()
    {
        Dnotes.Add(new DashNote() { Title = "Staff and customers can order", Text = "Barmate takes care of it all.", Group = "business" });
        Dnotes.Add(new DashNote() { Title = "Sends the order through the stations", Text = "Various bars or cuisines.", Group = "" });
        Dnotes.Add(new DashNote() { Title = "Able to serve a food court", Text = "With multiple bars and restaurants or food trucks.", Group = "important" });
        Dnotes.Add(new DashNote() { Title = "Customers can", Text = "enable staff, can see their order history and status.", Group = "social" });
        Dnotes.Add(new DashNote() { Title = "Staff takes care of the payment", Text = "While customers will be able to pay themselves in the near future.", Group = "business" });
        Dnotes.Add(new DashNote() { Title = "Staff is always aware", Text = "And can check status in real time.", Group = "important" });
        ShowImage();
    }
    private void ShowImage()
    {
        imageSource = $"welcome.jpg";
    }
    private void Details()
    {
        ShowDetails = !ShowDetails;
        ShowArchitecture = true;
    }
    private void Architecture()
    {
        ShowArchitecture = !ShowArchitecture;
        ShowDetails = true;
    }
}



