@page "/Barmate"
<style scoped>
    #barmate .mycolor{
    color: @fontColor;
    }
</style>
<div id="barmate" >
    <header>
        <h2 class="mycolor">Barmate</h2>
    </header>
   <Barmate/>
</div>



@code {
    [Parameter]
    public bool Portfolio { get; set; }
    private string fontColor { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        fontColor = Portfolio ? "white" : "gray";

    }
}

