@page "/Barmate"

<style>
    body {
        background-color: #222B31 !important;
    }

    .title {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100px;
        font-weight: bold
    }

    img {
        width: 80%;
        height: 300px;
    }
</style>

<PageTitle>The best Mate you ever have</PageTitle>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <a href="barmate.html" class="logo">
                Your mate is ready for orders
            </a>
        </header>
        <div class="upperblock maintext">Barmate</div>
        <!-- Main -->
        <div id="main" style="padding-left:20px;">
            <div style="text-align:center">(Detailed information and images will follow soon)</div>

            <div>
                <div><img style="width:20%; height:100%; float: left;" src="./Images/Terrace.jpg" alt="" /></div>
                <div>
                    <h3 style="float: left; margin : 10%">
                        The best overview of many seats <br />or large outdoor spaces with few staff
                    </h3></div>
            </div>

            <div style="clear: both;"></div>
            <br />

            <ul>
                <li>Staff and customers can order. Barmate takes care of them all.</li>
                <li>Sends the order through the stations such as different bars or kitchens.</li>
                <li>Able to serve a &nbsp; <i>'food'</i>court with multiple bars and restaurants or food trucks.</li>
                <li>Customers can call on staff. They can see their order history and status.</li>
                <li>Staff arrange payment, while customers will be able to pay themselves in the near future.</li>
                <li>Staff are always informed and can check status.</li>
            </ul>
            <br/>
            <p style="font-size:.75rem">
                The web app is compatible with all newer and most older (Android 4+, Apple 7+, Edge, Chrome, Firefox, safari etc.) devices and browsers.<br />
                And dynamically designed to accommodate all different situations on site. <br />
                Conveniently designed with colors and quick popups to enter information in a logical way. <br />
                Colors indicate the status of each order without the need for details.<br />
            </p>
            <br />
            <br />
        </div>
    </div>
</body>
@code {
    private string? imageSource;
    protected override async Task OnParametersSetAsync()
    {

        ShowImage();
    }
    private void ShowImage()
    {
        imageSource = $"welcome.jpg";
    }

}



