@page "/BlazorOverview"
<style>
     #BlazorOverview .mycolor{
    color: @mycolor;
    }
    @@media screen and (max-width: 1000px) {
        a.fsize {
        font-size:.65rem;
        }
    }

    @@media screen and (max-width: 768px) {
        a.fsize {
            font-size:.75rem;
            white-space:normal;
        }
    }
</style>
<div id="BlazorOverview" style="transform:scale(@scalesize)">
     <header>
    <h3><i class="fa-regular fa-comment-dots mycolor"></i>More to come.</h3>
     </header>
    <br/>
    <div>
        <a class="btn btn-outline-dark dbutton fsize mycolor" style="box-shadow: inset 0 0 0 2px @mycolor" href="Blazor">I choose for Blazor</a>
    </div>
    <br/>
    <div style="float:right;">
        <a class="btn btn-outline-dark dbutton fsize mycolor" style="box-shadow: inset 0 0 0 2px @mycolor" href="Vue">Why Vue is on the list</a>
    </div>
</div>



@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; }
    [Parameter]
    public string mycolor { get; set; } = "black";
    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}

