@page "/BlazorOverview"

<div style="transform:scale(@scalesize)">
     <header>
    <h3><i class="fa-regular fa-comment-dots"></i>More to come.</h3>
     </header>
    <br/>
    <div>
        <a class="btn btn-outline-dark dbutton" style="color: @mycolor;box-shadow: inset 0 0 0 2px @mycolor" href="Blazor">Why Dinand chooses Blazor</a>
    </div>
</div>



@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; }
    [Parameter]
    public string mycolor { get; set; } = "black";
    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}

