@page "/BlazorOverview"
<style>
    .dbutton {
        font-size: 0.85em;
    }
</style>
<div style="transform:scale(@scalesize)">
     <header>
    <h3><i class="fa-regular fa-comment-dots"></i>More to come.</h3>
     </header>
    <br/>
    <div>
    <a class="btn btn-outline-dark dbutton" href="Blazor">Why Dinand chooses Blazor</a>
    </div>
</div>



@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}

