@page "/Blazor"

<style>
    :root {
        --fontColor: white;
        --fontSize: 0.85rem;
    }
    body {
        background-color: #222B31 !important;
    }

    .title {
        color: var(--fontColor);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5em;
        font-weight: bold
    }

    @@media screen and (max-width: 1200px) {
        .title {
            font-size: 3em ;
        }
    }
    .imgBlazor {
        width: 80%;
        height: 300px;
    }
</style>

<PageTitle>Why Blazor</PageTitle>
<body class="is-preload" >
    <div id="wrapper">
        <header id="header">
            <a href="blazor" class="title">
                Why I choose for Blazor
            </a>
        </header>
        <div class="upperblock maintext">The right choice</div>
        <!-- Main -->
        <div id="main" style="padding-left:20px;color:white">
            <p>
                <h4> NATIVE</h4>
                Blazor framework let you work in the most native way with backend code, right in your frontend.<br />
                Easily combined with HTML and CSS to create a powerful and standardized UI<br />
                <br />
                <h4>NO CONVERSION</h4>
                The first framework that shows you the data without converting it. <br />
                <br />
                <h4>Work DRY</h4>
                Working with <img class="imgBlazor" style="height:2em;width:auto;" src="./images/blazor_icon.png" /> blazor means you can program DRY (Don't Repeat Yourself)<br />
                <br />

                <h4>COMPONENTS</h4>
                You create (razor) components to store your content and functionality.<br />
                Add that as a tag on the page or use it as a page itself. You can influence behavior with parameters.<br />
                By creating these re-useble components is it for architectural, development and maintenance the most smart way to work.
                <br/>

                <br />
                <img style="height:1.5em;width:auto;" src="./images/Showcase/nojs_red.png" /><br />
                Now you can work without JS 'libraries'.<br />
                <br />
                <h4>A Variety of libraries</h4>
                Blazor has its own sets of libraries.<br />
                <a target="_blank" href="https://mudblazor.com/"> <img style="height:2em;width:auto;" src="./images/Showcase/mudblazor.png" /></a> &nbsp;
                <a target="_blank" href="https://blazor.radzen.com/"> <img style="height:2em;width:auto;" src="./images/Showcase/radzen.png" /></a> &nbsp;
                <a target="_blank" href="https://blazorstrap.io/V5/"> <img style="height:2.5em;width:auto;" src="./images/Showcase/blazorstrap.png" /></a> &nbsp;
                <a target="_blank" href="https://github.com/Blazored"> <img style="height:2.5em;width:auto;" src="./images/Showcase/blazored.png" /></a>&nbsp;
                <a target="_blank" href="https://blazorise.com/"> <img style="height:2.5em;width:auto;" src="./images/Showcase/blazorise.png" /></a>&nbsp;
                <a target="_blank" href="https://blazorboilerplate.com/"> <img style="height:2.5em;width:auto;" src="./images/Showcase/BlazorBoilerplate.png" /></a><br />
                <a target="_blank" href="https://www.htmlelements.com/blazor/blazor-ui/demos/"> <img style="height:1.5em;width:auto;background-color:ThreeDDarkShadow;" src="./images/Showcase/SmartHtml.png" /></a>&nbsp;
                <a target="_blank" href="https://blazor.syncfusion.com/demos/"> <img style="height:1.5em;width:auto;background-color:white;" src="./images/Showcase/SyncFusion.png" /></a>&nbsp;

                <br />
                <br />
                <h4>JS Regrets? Solved!</h4>
                Even better, you can work with JS if needed.

                <br />
                <br />
                <br />
            </p>
        </div>
    </div>
</body>
@code {
   
}



