@page "/Dinand"

<style>
    :root{
        --color: white;
    }
    body {
        background-color: #222B31 !important;
    }

    #wrapper {
        color: var(--color);
    }

    .main {
    }

  .imgsize{
        transform:scale(0.7);
        top:-20px;
    }

    @@media screen and (max-width: 640px) {
        .imgsize {
            width: 180px;
        }
    }
</style>

<PageTitle>About Dinand</PageTitle>

<!-- Wrapper -->
<div id="wrapper">
    <header id="header">
        <div class="dheadline dheadlinebox">Developer or architect</div>
    </header>
    <div class="upperblock maintext">Choose?</div>

    <!-- Main -->
    <div id="main" style="padding:0 40px; 0 20px">
        <a target="_blank" href="https://airtable.com/shr4bkeuciESQk03D" class="requestbutton" style="transform:scale(0.9)">
            <i style="float: right;" class="fas fa-circle-info"></i><br />Request<br /> my<br />Resume.
        </a>
        <br />
        <div class="container col-5 " style="float:left;">
            <div class="subtitle" style="text-align:center;" >
                Looking for a developer? <br />
                <div style="font-size: 0.85em;">I dream in code</div>

                <img class="imgsize" src="images/EatSleepCodeRepeat_gray.png" alt="" /><br />

            </div>
        </div>
        <div class="container col-5" style="float:right">
            <div class="subtitle" style="text-align: center; ">
                Need a softwarearchitect?
                <div style="font-size: 0.75em">
                    I create cost efficient, easy maintainable<br />
                    and <br />sustainable environments.<br />
                </div>
            </div>
        </div>
        <div class="subtitle" style="clear:both; text-align: center;">
            <br />
            This concept and the ability to program, is in my DNA.
        </div>
        <div style="clear:both;"></div>
        <br />
        <div style="margin-left:20px;">
            <div class="subtitle">Skills</div>

            <div class="col-lg-4 col-7" style="float:left;">.net webdevelopment</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">Architecture</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">Webservices</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">Cyber security</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">C#</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">Blazor</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">OAuth</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">HTML</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">CSS</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">Javascript</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7" style="float:left;">Linq</div> <div class="col-lg-7 col-8"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>

            and much more..
        </div>

        <br />
        <br />
        <Contact mycolor="var(--color)" />
        <br />
        <br />
    </div>
</div>

@code {
}
