@page "/Dinand"

<style>
    body {
        background-color: #222B31 !important;
        color: #888B8D !important;
    }

    .main {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
    }

    @@media screen and (max-width: 1000px) {
        
    }
</style>

<PageTitle>About Dinand</PageTitle>

<!-- Wrapper -->
<div id="wrapper">
    <header id="header">
        <a href="Dinand.html" class="logo">Developer or achitect</a>
    </header>
    <div class="upperblock maintext" >Choose?</div>
    
    <!-- Main -->
    <div id="main" class="col-3">
        <a target="_blank" href="https://airtable.com/shr4bkeuciESQk03D" class="requestbutton">
            <i style="float: right;" class="fas fa-circle-info"></i><br />Request<br /> my<br />Resume.
        </a>
        <br />
        <div class="container col-5 ">
            <div class="subtitle " style="float:left;">
                Looking for a developer? <br />
                <div style="font-size: 0.85em;">I dream in code</div>
                
                <img src="images/EatSleepCodeRepeat_gray.png" style="max-height: 75px;top:-20px" alt="" /><br />
                
            </div>
        </div>
        <div class="container">
            <div class="subtitle" style="text-align: center; float:right;">
                Need a softwareachitect?
                <div style="font-size: 0.75em">
                    I create cost efficient, easy maintainable<br />
                    and <br />sustainable environments.<br />
                </div>
            </div>
        </div>
        <div class="subtitle" style="clear:both; text-align: center;">
            <br />
            That concept and the ability to program, is in my DNA.
        </div>
        <div style="clear:both;"></div>
        <br />
        <br />
        
        <div class="subtitle" style="font-size:0.85em;margin-left:15px;">
            <div class="subtitle" style=" font-size:2em">Curious - questions - interest.</div>
            <!-- Calendly link widget begin -->
            <a href="" class="subtitle" style="font-size:1em;text-decoration:underline;color: #888B8D !important;" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/dinand-dotnet/60min'});return false;"><img style="max-height:25px;" src="images/logo-square-cd364a3c33976d32792a.png" alt="" /> Plan a meeting with me</a>
            <!-- Calendly link widget end -->
            <p><a @onclick="() => Alert(message)">Or contact me. <i class="fas fa-arrow-circle-down"></i></a></p>
        </div>
        <br />
        <br />
    </div>
</div>

@code {
    string message = "You can choose from the icons below how to contact me ";

    private async Task Alert(string msg)
    {
        await JsRuntime.InvokeAsync<object>("Alert", msg);
    }
}
