@page "/Dinand"

<style>
    :root {
        --color: white;
    }

    body {
        background-color: #222B31 !important;
    }

    .dots i {
        margin-right: 10px;
        color: antiquewhite;
    }

    #wrapper {
        color: var(--color);
    }

    .main {
    }

    .imgsize {
        transform: scale(0.7);
        top: -20px;
    }

    @@media screen and (max-width: 768px) {
        .imgsize {
            width: 180px;
        }
    }

    @@media screen and (max-width: 640px) {
        .dots {
            font-size: .75rem;
        }
    }
</style>

<PageTitle>About Dinand</PageTitle>

<!-- Wrapper -->
<div id="wrapper">
    <header id="header">
        <div class="dheadline"><img class="imgsize" src="images/EatSleepCodeRepeat_gray.png" alt="" /></div>
    </header>
    <div class="upperblock maintext">Passionate developer needed?</div>

    <!-- Main -->
    <div id="main" style="padding:0 40px 0 20px">
        <a target="_blank" href="https://airtable.com/shr4bkeuciESQk03D" class="requestbutton" style="transform:scale(0.9)">
            <i style="float: right;" class="fas fa-circle-info"></i><br />Request<br /> my<br />Resume.
        </a>
        <br/>
        <div style="margin-left:40px;">
            A long time ago...<i class="fa-regular fa-clock"></i> I figured out how a software program could serve people <i class="fa-solid fa-people-line"></i >. <br />
            I started with Visual Basic and the impossible task of working with a new technology, Barcode <i class="fa-solid fa-barcode"></i>.<br/>
            Trams (Total Retail And Management System) was created and used by several as a local system that manages<br />
            <i class="fa-brands fa-salesforce"></i> Sales,<br />
            <i class="fa-solid fa-warehouse"></i> Inventory ,<br/>
            <i class="fa-solid fa-screwdriver-wrench"></i> Repairs ,<br/>
            <i class="fa-solid fa-user-shield"></i> Warranty<br />
            and a system that keep customers informed <i class="fa-solid fa-phone-volume"></i> <i class="fa-regular fa-face-smile-beam"></i> .< br />
            <br/>
            From that day on I knew why development was my thing and my passion. <br />
            <br/>
            Although everything has changed nowadays, the basic principles still stand, the fun and joy is still there as it was in the beginning.<br/>
            I develop, design and create environments that are a pleasure to work with.
        </div>
        <br />
        <div class="container col-5 " style="float:left;">
            <div class="subtitle" style="text-align:center;">
                Looking for a developer <br />
                Who loves code but can do much more.<br/>
                <ul style="text-align:left">
                    <li>Back-end in C#</li>
                    <li>Entity framework</li>
                    <li>MsSQL, MySql, Oracle, Big data, MongoDB...</li>
                    <li>OAuth authorization and security</li>
                    <li>API, Webservices, Microservices</li>
                    <li>Highlevel HTML and CSS</li>
                    <li>and so much more like Smart Architecture -> </li>
                </ul>
            </div>
        </div>
        <div class="container col-5" style="float:right">
            <div class="subtitle" style="text-align: center; ">
                Need a smart-architect?
                <br/>
                <br />
                <div >
                    I like to create cost efficient and sustainable environments,<br /> that last for over a decade.
                    <br />
                    Always build with standaards, so easy maintainable<br />
                    <br />
                    Simple evironment splitting and reduce vulnerability.
                </div>
            </div>
        </div>
        <div class="subtitle" style="clear:both; text-align: center;">
            <br />
            This concept and the ability to program, is in my DNA.
        </div>
        <div style="clear:both;"></div>
        <br />
        <div style="margin-left:20px;">
            <div class="subtitle">Skills</div>

            <div class="col-lg-4 col-7 dots" style="float:left;">.net webdevelopment</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">Architecture</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">Webservices</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">Cyber security</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">C#</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">Blazor</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">OAuth</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">HTML</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">CSS</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">Javascript</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>
            <div class="col-lg-4 col-7 dots" style="float:left;">Linq</div> <div class="col-lg-7 col-14 dots"><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i><i class="fa-solid fa-square"></i></div>

            and much more ...
        </div>

        <br />
        <br />
        <Contact mycolor="var(--color)" />
        <br />
        <br />
    </div>
</div>

@code {
}
