@page "/Dinand"

<style>
    body {
        background-color: white !important;
    }

    .main {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
    }

    .title {
        color: black;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
    }

    img {
        max-height: 75px;
    }
</style>

<PageTitle>About Dinand</PageTitle>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <a href="https://airtable.com/shr4bkeuciESQk03D" class="requestbutton">
            <i style="float: right;" class="fas fa-circle-info"></i><br />Request<br /> my<br />Resume.
        </a>
        <div class="title">Looking for a developer ?</div>
        <div class="title">Need a software achitect ?</div>
        <br />
        <div class="subtitle" style="font-size:2.5rem; text-align: center;">Why choose? Have it all. </div>
        <div style="clear:both; padding-bottom:35px"></div>
        <br />
        <div class="container">
            <div class="subtitle" style="float:left;">
                As developer, I dream in code<br />
                <br />
                <img src="images/EatSleepCodeRepeat.png" alt="" /><br />
            </div>
        </div>
        <div class="container">
            <div class="subtitle" style="text-align: center; float:right;">
                As architect

                <div style="font-size: 0.75em">
                    I create cost efficient, easy maintainable<br />
                    and <br />sustainable environments.<br />
                </div>
                <br />
                <div style="clear:both">
                    <br />
                    That concept and the ability to program it, is in my DNA.
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <br />
        <br />
        <h3>Curious what I can do for you.</h3>
        <div class="subtitle" style="font-size:0.85em;">
            <!-- Calendly link widget begin -->
            <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/dinand-dotnet/60min'});return false;"><img style="max-height:25px;" src="images/logo-square-cd364a3c33976d32792a.png" alt="" /> Plan a meeting with me</a>
            <!-- Calendly link widget end -->
            <p>Or contact me for more information. <i class="fas fa-arrow-circle-down"></i></p>
        </div>

        <br />
        <br />

    </div>
</div>

@code {

}
