@page "/Dinand"

<style>
    body {
        background-color: #222B31 !important;
    }

    .main {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
    }

    .title {
        color: black;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
    }

    img {
        max-height: 75px;
    }
</style>

<PageTitle>About Dinand</PageTitle>

<!-- Wrapper -->
<div id="wrapper">
    <header id="header">
        <a href="Dinand.html" class="logo">Developer or achitect</a>
    </header>
    <div class="upperblock maintext" >Choose?</div>
    
    <!-- Main -->
    <div id="main">
        <a href="https://airtable.com/shr4bkeuciESQk03D" class="requestbutton">
            <i style="float: right;" class="fas fa-circle-info"></i><br />Request<br /> my<br />Resume.
        </a>
        <br />
        <div class="container">
            <div class="subtitle" style="float:left;">
                Looking for a developer ? <br />
                I dream in code<br />
                <br />
                <img src="images/EatSleepCodeRepeat_gray.png" alt="" /><br />
            </div>
        </div>
        <div class="container">
            <div class="subtitle" style="text-align: center; float:right;">
                Need a software achitect ?

                <div style="font-size: 0.75em">
                    I create cost efficient, easy maintainable<br />
                    and <br />sustainable environments.<br />
                </div>
                <br />
                <div style="clear:both">
                    <br />
                    That concept and the ability to program, is in my DNA.
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <br />
        <br />
        
        
        <div class="subtitle" style="font-size:0.85em;margin-left:15px;">
            <h3 class="subtitle" style=" font-size:1em">Curious what I can do for you.</h3>
            <!-- Calendly link widget begin -->
            <a href="" class="subtitle" style="font-size:1em;" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/dinand-dotnet/60min'});return false;"><img style="max-height:25px;" src="images/logo-square-cd364a3c33976d32792a.png" alt="" /> Plan a meeting with me</a>
            <!-- Calendly link widget end -->
            <p>Or contact me for more information. <i class="fas fa-arrow-circle-down"></i></p>
        </div>
        <br />
        <br />
    </div>
</div>

@code {

}
