<div style="transform:scale(@scalesize)">
    <header>
        <h2><a href="#">Fitmate</a></h2>
    </header>
    <a target="_blank" href="http://fitmate.secondsoft.nl/" class="image fit"><img src="images/group1.jpg" alt="" /></a>
    <p>
        A gym program. Members can track and review their performance. Gyms can monitor and ajust the
        developments of their members..
    </p>
    <ul class="actions special">
        <li>
            <a target="_blank" href="http://fitmate.secondsoft.nl/" class="button">
                Fitmate site (Dutch) &nbsp;<i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    string scalesize { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        scalesize = Carousel ? "0.7" : "1.0";
    }
}
