@page "/"
<style>
    body {
        background-color: white !important;
    }

    .title {
        color: gray;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
        text-align: center;
    }

    @@media screen and (max-width: 640px) {
        .title {
            font-size: 14px;
        }
    }

</style>

<PageTitle>SecondSoft</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-7 col-sm-4"><img src="@imageSource" class="image fit" /></div>
        <div class=" col-4 col-sm-4 title"> Thinking twice makes the differents</div>
    </div>
</div>
<br />

<br />
<br />
<Carousel Components="types" DelayTime="3000" />
@code {
    private string? imageSource;
    protected override async Task OnParametersSetAsync()
    {

        ShowImage();
    }

    private void ShowImage()
    {
        imageSource = $"./images/2ndsoft.png";
    }
    Type[] types =
    {
        typeof(BarmateOverview),
        typeof(FitmateOverview),
        typeof(MicroPortalOverview)
    };
}
