@page "/"
<style>
    body {
        background-color: white !important;
    }

    .title {
        color: gray;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
        text-align: center;
    }

    @@media screen and (max-width: 640px) {
        .title {
            font-size: 14px;
        }
    }
    /*img {
                        width: 80%;
                      height: 300px;
                    }*/
</style>

<PageTitle>SecondSoft</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-6 col-sm-4"><img src="@imageSource" class="image fit" /></div>
        <div style="clear:both"></div>
        <div class=" col-4 col-sm-4 title"> Thinking twice makes the differents</div>
    </div>
</div>
<br />
<br />
<br />
@code {
    private string? imageSource;
    protected override async Task OnParametersSetAsync()
    {

        ShowImage();
    }
    private void ShowImage()
    {
        imageSource = $"./images/2ndsoft.png";
    }
    }
