@page "/"

<style>
    body {
        background-color: #212931 !important;
    }

    div.square {
        margin-top: 10px;
        margin-bottom: 50px;
        transform: skewY(-5deg);
    }
    .blinkanimation{
        animation: fadeIn ease 15s;
    }

    .dlogo {
        width: 426px;
        display: block;
        margin: 2.5rem 0;
    }

    .title {
        color: gray;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 72px;
        text-align: center;
    }


    @@media screen and (max-width: 1200px) {
        .dlogo {
            width: 340px;
        }

        .title {
            font-size: 60px;
        }
    }

    @@media screen and (max-width: 992px) {
        .dlogo {
            width: 260px;
        }

        .title {
            font-size: 50px;
        }
    }

    @@media screen and (max-width: 768px) {
        .dlogo {
            width: 200px;
        }

        .title {
            padding-top: 23px;
            font-size: 26px;
            float: right;
        }
    }

    @@keyframes fadeIn {
        10% {
            opacity: 0.15;
        }

        100% {
            opacity: 1;
        }
    }

</style>
<link rel="icon" type="image/ico" href="./Images/logo/2ndSoftWhite.ico" />
<PageTitle>SecondSoft</PageTitle>
<div class="container">
    <div class="square row" style="background-color: brown;">
        <div class="blinkanimation col-7"><img src="@imageSource" class="dlogo" /></div>
        <div class="col-5 title"> Think smart<br/> Work smart</div>
    </div>
    <div class="square row" style="background-color: white;">
        <div>
            <div class=" title" style="float:left;">Projects</div>
           <div style="clear:both;">
          This place will be an entrance to my showcase of projects.<br/>
       I'm working on it, not finished yet.<br/>
       Thank you for your patients.<br/>
       <hr/>
            </div>
            <Songs/>
            <Barmate/>
        </div>
        <div class=""></div>
    </div>
    <div class="square row" style="background-color: blue; color: white; ">
        <a href="ResearchFramework" class="btn btn-outline-light">
        <div class=" " style="font-size:60px">Reseach report</div>
        <div>Javascript frameworks and Blazor</div>
        </a>
        <a href="about" class="btn btn-outline-light">
        <div style="font-size:66px;">About</div>
       
        </a>
    </div>
</div>
<br />

<br />
<br />
@code {
    private string? imageSource;
    protected override async Task OnParametersSetAsync()
    {
        ShowImage();
    }

    private void ShowImage()
    {
        imageSource = $"./images/logo/2ndsoftWhite.png";
    }

    //Type[] types =
    //{
    //    typeof(BarmateOverview),
    //    typeof(FitmateOverview),
    //    typeof(MicroPortalOverview)
    //};
}
