@page "/"
<style>
    body {
        background-color: white !important;
    }
    .title {
        color: gray;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 80px;
    }
 
/*img {
    width: 80%;
  height: 300px;
}*/
</style>

<PageTitle>SecondSoft</PageTitle>
<div class="row">
    
    <div class="title col" style="text-align:center; ">
    Thinking twice makes the differents<br/>
        <img src="@imageSource" class="imgcenter" />
</div>
    @*<a href="UnderConstruction" style="margin-top:80px; color: #FAC533;" class="col"> <i class="fa-solid fa-person-digging fa-2x" style="float:right;"></i></a>*@
    @*<a class="col" href="underConstruction" style="float:right;  font-size:.75em; margin-top:80px;"> <i class="fa-solid fa-person-digging fa-2x"></i></a>*@

</div>




<br />
@code{
    private string? imageSource;
    protected override async Task OnParametersSetAsync()
    {

        ShowImage();
    }
    private void ShowImage()
    {
        imageSource = $"./images/2ndsoft.png";
    }

}