@page "/"
<style>
    body {
        background-color: white !important;
    }
    .title {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 140px;
    }
   
</style>
<PageTitle>SecondSoft</PageTitle>
<div class="title" style="text-align:center">
    Welcome <br/> to <br/> secondsoft.
    
</div>


 



