@page "/MeAtWork"

<style>
    :root {
        --tcolor: white;
        --rbgcolor: #3498db;
    }

    body {
        background-color: #222B31 !important;
    }

    .yellowNote>li>a:hover {
    color:black !important;
    }

</style>
<br />
<div class="main col-12" style="text-align:center; font-size:2em; margin:10px; float:left; color: var(--tcolor);">
    List of activities<br />
    <br />
    <link href="css/YellowNote.css" rel="stylesheet" />
    <link href="css/Ribbon.css" rel="stylesheet" />

    <ul class="yellowNote" style="font-size: 0.75rem;color:black;text-align:left;list-style-type: none;">
        <li>
            <a>
                <div class="ribbon ribbon-top-right"><span style="background-color:brown;">In progress &nbsp; &nbsp; &nbsp; &nbsp; </span></div>
                <h4>Secondsoft &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h4>
                <h6>Product and Portfolio webapp </h6>
                <div style="font-style:italic;">Build in Blazor, html and css</div><br />
                <AnchorLink href="#thispage" class="btn btn-dark" style="font-size: 0.75rem; background-color:brown;">Watch this site progress
                    <iconify-icon inline icon="bi:arrow-down-circle-fill" width="15" /> Specs</AnchorLink>
            </a>
        </li>
        <li>
            <a>
                <div class="box">
                    <div class="ribbon ribbon-top-right"><span style="background-color:saddlebrown;">Collecting phase &nbsp; &nbsp;  &nbsp; &nbsp; </span></div>
                </div>
                <h4>SecondAccess</h4><h5>Visitors & Access control webapp</h5><div style="font-style:italic;">First webapp to create with Vue.js.</div><br /> Contains<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Staff access by personal QR code <br />
                &nbsp; &nbsp;<iconify-icon icon="fluent-mdl2:location-dot" /> Date/time registration of check-in and check-out<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Access control Management<br />
                &nbsp; &nbsp;<iconify-icon icon="fluent-mdl2:location-dot" /> staff access permission control<br />
                &nbsp; &nbsp;<iconify-icon icon="fluent-mdl2:location-dot" /> Easy cloud access for emergency services<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Visitors <br />
                &nbsp; &nbsp;<iconify-icon icon="fluent-mdl2:location-dot" /> Registration <br />
                &nbsp; &nbsp;<iconify-icon icon="fluent-mdl2:location-dot" /> Easy access list<br />
               
                <br />
                Next release options<br />
                <iconify-icon icon="bi:plus-circle-dotted" /> Unique (pin) code or QR to prevent re-use<br />
                <iconify-icon icon="bi:plus-circle-dotted" /> Visitors<br />
                &nbsp; &nbsp;<iconify-icon icon="fluent-mdl2:location-dot" /> Registration: extended with returning a unique (pin) code or QR code to get entry access<br />
                &nbsp; &nbsp;<iconify-icon icon="fluent-mdl2:location-dot" /> Visitors host will be notified immediately<br />
                <iconify-icon icon="bi:plus-circle-dotted" /> Valid code or QR to use in a time window<br />
                &nbsp;&nbsp; <iconify-icon icon="fluent-mdl2:location-dot" width="10" /> Every passcode is hashed<br />
                &nbsp;&nbsp; <iconify-icon icon="fluent-mdl2:location-dot" width="10" /> Access control Management: Extended with Time window Management<br />
                <iconify-icon icon="bx:dots-horizontal-rounded"></iconify-icon>
            </a>
        </li>
        <li>
            <a>

                <div class="ribbon ribbon-top-right"><span>Architectural phase &nbsp; &nbsp; &nbsp; &nbsp; </span></div>
                <h4>SecondPOS</h4><h5>Point of sale webapp</h5><div style="font-style:italic;">Webapp to create in Blazor</div><br /> Contains<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Consider sharing Barmate parts. <br/> 
                Means less development and maintenance <br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Authentication <br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Product management<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Split screens for staff and clients<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Payment<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Pin entry for staff<br />
                <br />
                Next release options<br />
                <iconify-icon icon="bi:plus-circle-dotted" /> Vouchers<br />
                <iconify-icon icon="bi:plus-circle-dotted" /> Stock Control<br />
                <iconify-icon icon="bi:plus-circle-dotted" /> Daily reports<br />
                <iconify-icon icon="bi:plus-circle-dotted" /> Customer registration to reserve products<br />
                <iconify-icon icon="bx:dots-horizontal-rounded"></iconify-icon>
            </a>
        </li>
        <li>
            <a>
                <div class="box">
                    <div class="ribbon ribbon-top-right"><span style="background-color:darkgreen;"> December 2022 &nbsp; &nbsp;  &nbsp; &nbsp; </span></div>
                </div>
                <h5>Barmate big Maintenance  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; </h5>
                <iconify-icon icon="fluent-mdl2:location-dot" /> .net 6 to .net 7 upgrade<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Security black and grey test<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Fixes and small ajustments<br />
            </a>
        </li>
        <li>
            <a>
                <div class="box">
                    <div class="ribbon ribbon-top-right"><span style="background-color:darkgreen;"> January 2023 &nbsp; &nbsp;  &nbsp; &nbsp; </span></div>
                </div>
                <h5>Microportal big Maintenance  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; </h5>
                <iconify-icon icon="fluent-mdl2:location-dot" /> .net 6 to .net 7 upgrade<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Security black and grey test<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Fixes and small ajustments<br />
            </a>
        </li>
        <li>
            <a>
                <div class="box">
                    <div class="ribbon ribbon-top-right"><span style="background-color:darkgreen;"> January 2023 &nbsp; &nbsp;  &nbsp; &nbsp; </span></div>
                </div>
                <h5>Secondsoft big Maintenance  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; </h5>
                <iconify-icon icon="fluent-mdl2:location-dot" /> .net 6 to .net 7 upgrade<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Security black and grey test<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Fixes and small ajustments<br />
            </a>
        </li>
        <li>
            <a>
                <div class="box">
                    <div class="ribbon ribbon-top-right"><span style="background-color:darkgreen;"> February 2023 &nbsp; &nbsp;  &nbsp; &nbsp; </span></div>
                </div>
                <h5>Fitmate big Maintenance  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; </h5>
                <iconify-icon icon="fluent-mdl2:location-dot" /> .net 6 to .net 7 upgrade<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Security black and grey test<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Fixes and small ajustments<br />
            </a>
        </li>
        <li>
            <a>
                <div class="box">
                    <div class="ribbon ribbon-top-right"><span style="background-color:darkgreen;"> February 2023 &nbsp; &nbsp;  &nbsp; &nbsp; </span></div>
                </div>
                <h5>Secondlog big Maintenance  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; </h5>
                <iconify-icon icon="fluent-mdl2:location-dot" /> .net 6 to .net 7 upgrade<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Security black and grey test<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Fixes and small ajustments<br />
            </a>
        </li>
        <li>
            <a>
                <div class="box">
                    <div class="ribbon ribbon-top-right"><span style="background-color:gray;">On stock &nbsp; &nbsp;  &nbsp; &nbsp; </span></div>
                </div>
                <h5>Add-on for sorting <br /> and displaying files</h5><div style="font-style:italic;">Webapp to create in Blazor</div><br /> Contains<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Administrative access for maintaining the system<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Generic file reading tool with filename splitter<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Simple search started with two characters<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Download links to the correct file<br />
                <iconify-icon icon="fluent-mdl2:location-dot" /> Secure authentication for connection to an existing website<br />

            </a>
        </li>
    </ul>
</div>
<div class="col-12" style="font-size:.75em; float:left; margin-bottom:50px; color: var(--tcolor); ">
    <img class="" style="max-width:150px;" src="./images/underconstruction.png" alt="under construction" />
    <div style="clear:both;"></div>
    <div style="font-size:.80em; color:#FAC533">And thank you for your understanding.</div>
    <br/>

    <div>
        <h4 id="thispage" style="color:var(--tcolor);">Watch this site progress</h4>
        <i style="color:crimson" class="fa-solid fa-circle-right"></i> This site will be maintained between projects.  <br />
        <i style="color:#FAC533" class="fa-solid fa-circle-info"></i> About my recent projects and activities. <br />
        <img style="width:20px; height:20px;background-color:var(--tcolor);" src="./images/blazor_icon.png" alt="under construction" />  &nbsp; &nbsp;This webapp is a project made in Blazor, HTML and CSS
    </div>
    <br />
    <div style="clear:both;"></div>
    <table>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Dynamically set buttons in cards in one line (bottom left). Still looking for a solution.</td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Create a page for 2ndLog with content </td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Create a page for Fitmate with content </td>
        </tr>
        <tr>
            <td><input type="checkbox" checked/></td>
            <td>Create a page besides Blazor about Why Vue (Portfolio). And fixed the first version </td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Stupid BUG. Forgotten to check the Why Blazor page (in My Portfolio). It was really dark in there. But it is fixed now. Sorry</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /> </td>
            <td>Restyle menu to top menu </td>
        </tr>
        <tr>
            <td><input type="checkbox" checked/></td>
            <td>
                Clean up old CSS and replace/rebuild old ones with a newer CSS level. (Rest clearing the merging of three locations).
                More than 80% decreased by cleaning and restyling at a higher css level (4-11) last 20% on (7-11)
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Blazor choose page (26-10) </td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Merge showcase page with portfolio (24-10) </td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Rewrite full story for Barmate and add to page by a link or button (19-10) </td>
        </tr>

        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Contact part modification, too busy and to many styles now (18-10) </td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Add carousel on homepage and add pages to it (15-10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Replace about and bullet area's with design (14-10) </td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Content for Home page (12-10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Make content for the Home page and restyle it (11-10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Rewrite MicroPortal page and restyle it(9-10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Rewrite and restyle Barmate page</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Restore styling in MicroPortal page(8/10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Restore styling in Barmate page(8-10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Restore styling in About me page (7/10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Restore styling in portfolio (7/10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Insert About me (raw data) into secondsoft.nl(6/10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Insert Portfolio page (raw data) into secondsoft.nl(5/10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Insert Barmate page (raw data) into secondsoft.nl(4-10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Insert Microportal page (raw data) into secondsoft.nl(2-10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Quick fix: Iframe my github site into the portfolio page(2-10)</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Bring this website, my github portfolio page, and several project descriptions together into one website. Preparation (30-09)</td>
        </tr>
        <tr>
            <td></td>
            <td><i class=" fa-solid fa-ellipsis fa-2x"></i></td>
        </tr>
    </table>
</div>
<br />
<br />
@code {

}
