@page "/MicroPortalOverview"
<style>
    #MicroPortalOverview .mycolor{
    color: @mycolor;
    }
</style>
<div id="MicroPortalOverview" style="transform:scale(@scalesize)">
    <header>
        <h3><a class="mycolor" >Micro portal</a></h3>
        @*<h3><a class="mycolor" href="MicroPortal">Micro portal</a></h3>*@
    </header>
    <img src="./images/under.jpg" style="width:200px" />
    @*<a href="MicroPortal" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/LabPins.jpg" /><br />
    </a>
    <p class="mycolor">One-stop medical portal for a range of programs to collect and analyze results.<br /></p>
    <div>
        <a href="MicroPortal" class="btn btn-outline-dark dbutton mycolor" style="box-shadow: inset 0 0 0 2px @mycolor">Full Story</a>
    </div>*@
</div>

@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; }
    [Parameter]
    public string mycolor { get; set; } = "black";
    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}
