@page "/MicroPortalOverview"
<div style="transform:scale(@scalesize)">
    <header>
        <h3><a href="#">Micro portal</a></h3>
    </header>
    <a href="MicroPortal" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/LabPins.jpg" /><br />
    </a>
    <p>
        One-stop medical portal for a range of programs to collect and analyze results.<br />
    </p>
    <div>
        <a href="MicroPortal" class="btn btn-outline-dark dbutton ">Full Story</a>
    </div>
</div>

@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; } = "1.0";

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}
