@page "/MicroPortal"

<style>
    body {
        background-color: #222B31 !important;
        color: #888B8D !important;
    }

    .title {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100px;
        font-weight: bold
    }
    .imgDetail
    {
        max-width: 80px;
        height: auto;
        float: left;
        padding-right: 20px;
    }

    .subtitle {
        color: #888B8D !important;
    }

    @@media screen and (max-width: 640px) {
        .maintext {
            font-size: 20px;
        }
    }
</style>
<PageTitle>Micro Portal project</PageTitle>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <header id="header">
            <a href="MicroPortal.html" class="logo">Micro Portal project</a>
        </header>
        <div class="upperblock maintext">All-in-one medical portal</div>

        <!-- Main -->
        <div id="main" style="padding-left:20px">
            <!-- Post -->
            <section class="post">
                <h3>About..</h3>
                <DashNotes Notes="Dnotes"/>

                <div><h5 style="float:left; margin-left:1rem;"><a @onclick="@Details" style="text-decoration:underline">Detailed description <i class="fa-solid fa-square-caret-down"></i></a></h5>
                    <h5 style="float:left; margin-left:1rem;"><a @onclick="@Architecture" style="text-decoration:underline">Architecture <i class="fa-solid fa-square-caret-down"></i></a></h5>
                </div>
                <br/>
                <br />
                <div hidden="@ShowDetails" class="dhidden_bg_color">
                    <div class="image main"><img class="imgDetail" src="images/MicroPortal/Mini lab.png" alt="" /></div>
                    <div style="clear:both;"></div>
                    <br/>
                    <br />
                    <h5>Handsome</h5>
                    Web-service to collect the results from different brands of microlabs sending their measurements.<br />
                    The program checks the results after verifying the status of the microlab. All results are stored in a central storage system. <br />
                    The user of the microlab is informed about the status and receives the approval back.
                    <br />

                    <div class="image main"><img class="imgDetail" src="images/MicroPortal/lab.png" alt="" /></div>
                    <div style="clear:both;"></div>
                    <h5>X-tracked</h5>
                    Web-service for various suppliers of blood measurements, such as laboratory and other Hematology Analyzers, send their results with HL7 standard to this system to store them in the main system.
                    Summary and checksums confirm that the results have been successfully received and saved.
                    <br />

                    <div class="image main"><img class="imgDetail" src="images/MicroPortal/MicroServices.png" alt="" /><img class="imgDetail" src="images/MicroPortal/Blood Analyse.png" alt="" /></div>
                    <div style="clear:both;"></div>
                    <h5>Debriever</h5>
                    Web-service with connections to some microservices. <br />
                    All results are analyzed and assessed. Add advice and warnings to the results.
                    <br />

                    <div class="image main"><img class="imgDetail" src="images/MicroPortal/portal.png" alt="" /></div>
                    <div style="clear:both;"></div>
                    <h5>Result portal</h5>
                    A website that gives you the results of stored blood values, depending on the purpose.
                    New results are featured since the last visit.
                    The result can be exported in various formats to suit client care systems.

                    <div class="image main"><img class="imgDetail" src="images/MicroPortal/Trends.png" alt="" /></div>
                    <div style="clear:both;"></div>
                    <h5>Z-Analyse</h5>
                    Web-service to analyze the history of the data to create a logical timeline by displaying the fluctuations.
                    This provides information for drug imaging, methods used, etc.

                    <div class="image main"><img class="imgDetail" src="images/Microportal/Meta.png" alt="" /></div>
                    <div style="clear:both;"></div>
                    <h5>Z-Meta</h5>
                    Web-service to collect data to discover trends, effective methods to provide information for medical analyzer, sales and management.
                    <a href="http://logservice.secondsoft.nl/" target="_blank" style="text-decoration:underline !important;">
                        <div class="image main"><img class="imgDetail" src="images/logo/2ndLog.png" alt="" /></div>
                        <div style="clear:both;"></div>
                        <h5>Service</h5>
                        My own 2ndLog service (project)
                    </a><br/>
                    Logging all messages from this app and services to store for a long time.
                    For security, no personal information is allowed, only reference codes.
                    Every x days the rules are archived to a separate big data service.
                    It keeps the service up to speed with only the most necessary data.
                    Service desk has access to the data and can search with unique references what has been recorded.
                    Systems analyst reports on multiple concurrent issues and can view all log data.
                </div>
            </section>

            <section class="post">
                <div hidden="@ShowArchitecture" class="dhidden_bg_color">
                    <b>An architecture story</b><br /> about a large-scale global project.<br />
                    Global Databases<img style="width:40px; height:40px;" src="./images/microportal/clouddb.png" /> share lab data <img style="width:40px; height:40px;" src="./images/microportal/lab.png" /> and MicroLabs<img style="width:40px; height:40px;" src="./images/microportal/mini lab.png" />.<br />
                    These labs large and small communicated through web services<img style="width:40px; height:40px;" src="./images/microportal/webservice.png" />.<br />
                    Control service to approve minilab status<img style="width:40px; height:40px;" src="./images/microportal/approve.png" /> the correctness of the results.<br />
                    The results were analyzed by microservices<img style="width:40px; height:40px;" src="./images/microportal/microservices.png" /> and webservices<img style="width:40px; height:40px;" src="./images/microportal/webservice.png" />.<br />
                    Shown to a variety of patient caregivers.<img style="width:40px; height:40px;" src="./images/microportal/Health CareProvider.png" />.<br />
                    All with highest data transfer security<img style="width:40px; height:40px;" src="./images/microportal/datasecurity.png" />. Tested by security hackers <img style="width:40px; height:40px;" src="./images/microportal/hacker-icon.png" />.<br />
                    Meta<img style="width:40px; height:40px;" src="./images/microportal/meta.png" /> data was created to discover different trends <img style="width:40px; height:40px;" src="./images/microportal/trends.png" />.
                    <p>
                        The application runs on separate hosted servers or serverless in different places on the internet.<br />
                        This bullet list is an overview of the decisions made within the project.
                    </p>
                    <ul>
                        <li>By separating read and write from storage, we spread the load on network and web services. </li>
                        <li>Mainly connected to a security service, all communication is secured (SSL, standard security protocols and whitelisting).</li>
                        <li>All external communications and internal requests are custom secured with unique hashes.</li>
                        <li>OAuth2 authentication and authorization covers front-end access security. At the back, security communicates with unique key pairs. It protects hacking from within and leaks data to other patient data.</li>
                        <li>Using all basic plug-ins and technologies prevents issues after upgrading. Extensions are built outside the standard modules and are logged separately for troubleshooting.</li>
                        <li>Modular / microservice usage prevents complex code attacks and large apps. Takes less effort for maintenance. Can be easily switched to internal or external.</li>
                        <li>All applications are written in .net 6 or newer and are upgraded to each new LTS version.</li>
                        <li>The services are redundantly distributed over multiple overload hosts with an uptime of more than 99%. The risk of failure is reduced to the absolute minimum.</li>
                        <li>A central logging service with tenants and tags for use by the service desk. This service uses the standard .net log routine.</li>
                    </ul>
                </div>
                <Contact/>
                <br />
            </section>
        </div>

    </div>
</body>
@code {
    private bool ShowDetails { get; set; } = true;
    private bool ShowArchitecture { get; set; } = true;
    private List<DashNote> Dnotes { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        Dnotes = new List<DashNote>();
        Dnotes.Add(new DashNote() { Title = "This one-stop-shop", Text = "Contains a range of programs with collected and analyzed results.", Group = "" });
        Dnotes.Add(new DashNote() { Title = "Made for healthcare providers", Text = "Push, analyze and receive results from a reliable service.", Group = "important" });
        Dnotes.Add(new DashNote() { Title = "The system connects and secures", Text = "With easy management for secure access.", Group = "social" });
        Dnotes.Add(new DashNote() { Title = "Patient data", Text = "Only visible to theire own healthcare provider.", Group = "business" });
        Dnotes.Add(new DashNote() { Title = "This application has been tested", Text = "and approved by hackers and security officers.", Group = "important" });
    }

    private void Details()
    {
        ShowDetails = !ShowDetails;
        ShowArchitecture = true;
    }
    private void Architecture()
    {
        ShowArchitecture = !ShowArchitecture;
        ShowDetails = true;
    }
}
