<div style="transform:scale(0.7)">
    <header>
        <h2><a href="#">Micro portal</a></h2>
    </header>
    <a href="MicroPortal" class="image fit"><img src="images/LabPins.jpg" alt="" /></a>
    <p>
        One-stop medical portal for a range of programs to collect and analyze results.<br />
        <br />
    </p>
    <ul class="actions special">
        <li><a href="MicroPortal" class="button">Full Story</a></li>
    </ul>
</div>

@code {

}
