@page "/PortFolio"
@page "/PortFolio/{guid}"
@using System.ComponentModel.DataAnnotations;
@using SecondSoft.Helpers;
@using SecondSoft.Models
@inject IEmails emails;

<PageTitle>
    PortFolio Dinand
</PageTitle>

<style>
    #page {
        background-color: black;
    }

    .activityblok {
        color: white;
        margin-left: 40%;
    }

    .title {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 140px;
    }
</style>
<PageTitle>Dinand</PageTitle>

<div class="title text-center">
    Hello.<br />
    I am Dinand
</div>

<div class="activityblok">
    <div class="float-start"><i class="fas fa-chevron-circle-right fa-3x"></i> </div>
    <div class="float-start">
        <ul style="list-style-type:none">
            <li>Developer</li>
            <li>software Architect</li>
            <li>Freelance</li>
        </ul>
    </div>
</div>

 <Mailme guid="@guid"></Mailme>

@code
{
    [Parameter]
    public string guid { get; set; }
}
