@page "/PortFolio"

@using System.ComponentModel.DataAnnotations;
@using SecondSoft.Helpers;
@using SecondSoft.Models

<PageTitle>PortFolio Dinand</PageTitle>

<style>
    body {
        background-color: #222B31 !important;
    }
 
</style>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>My Portfolio</h1>
            <p>A showcase of my projects and abilities</p>
            <ul class="actions ">
                <li><AnchorLink href="#Passioned" class="button letterspacesm icon solid solo fa-arrow-down scrolly"></AnchorLink></li>
            </ul>
        </div>
        <br />
        <!-- Nav -->
        <div class="upperblock maintext">I am Dinand</div>
        <div id="main">
            <!-- Featured Post -->
            <br />
            <div id="Passioned" class="maintext">
                <div style="margin: 0 auto 0 auto; font-size:1rem">
                    Passionate .net developer <br /> and <br /> software architect
                </div><br />
                <div style="width:250px; margin:auto;">
                    <a href="Dinand" class="image fit"><img src="images/code.jpg" alt="" /></a>
                </div>
                <div >
                    <ul class="actions special" >
                    <li><a href="Dinand" class="button large">My story</a></li>
                    <li><a href="Showcase" class="button large">Showcase</a></li>
                    </ul>
                </div>
            </div>
            <br />
           

            <!-- Posts -->
            <section class="posts">

                <article>
                   <BarmateOverview />
                </article>
                <article>
                   <MicroPortalOverview/>
                </article>
                <article>
                    <FitmateOverview/>
                </article>
            </section>
        </div>
    </div>
</body>

