@page "/PortFolio"

<link rel="icon" type="image/ico" href="./Images/Dinand.ico" />
<PageTitle>PortFolio Dinand</PageTitle>

<style>
    body {
        background-color: #222B31 !important;
        font-family: Font Awesome 6 Free;
    }

    .sampleblock, .container>.dgrid {
        /*float: left;*/
        padding: 20px;
        --minmax: 240px;
    }

    #technologies>.dgrid{
        --minmax: 90px;
    }
    .dgrid>.dcard{
        font-size: 0.85em;
    }
</style>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>My Portfolio</h1>
            <p>A showcase of my projects and abilities</p>
            <ul class="actions ">
                <li><AnchorLink href="#Passioned" class="button letterspacesm icon solid solo fa-arrow-down scrolly"></AnchorLink></li>
            </ul>
        </div>
        <br />
        <!-- Nav -->
        <div class="upperblock maintext">I am Dinand</div>
        <div id="main">
            <!-- Featured Post -->
            <br />
            <div id="Passioned" class="maintext">
                <div style="margin: 0 auto 0 auto; font-size:1rem">
                    Passionate .net developer <br /> and <br /> software architect
                </div><br />
                <div style="width:250px; margin:auto;">
                    <a href="Dinand" class="image fit"><img src="images/code.jpg" alt="" /></a>
                </div>
                <div>
                    <ul class="actions special">
                        <li><a href="Dinand" class="button large">My story</a></li>
                        @*<li><a href="Showcase" class="button large">Showcase</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="container">
                <div style="clear:both;"></div>
                <h2 class="body">Blazor projects</h2> <br />
                <section class="dgrid" style="font-size: 0.85em;">
                   
                    <div class="sampleblock dcard ">
                        <SecondsoftOverview Carousel=false />
                    </div>
                    <div class="sampleblock dcard ">
                        <BarmateOverview Carousel=false />
                    </div>
                    <div class="sampleblock dcard ">
                        <BlazorOverview Carousel=false />
                    </div>
                </section>
                <div style="clear:both"></div>
                <h2 class="body textcolor">MVC projects</h2> <br />
                <section class="dgrid" style="font-size: 0.85em;">
                    
                    <div class="sampleblock dcard ">
                        <FitmateOverview Carousel=false />
                    </div>
                    <div class="sampleblock dcard ">
                        <SecondLogOverview Carousel=false />
                    </div>
                    <div class="sampleblock dcard ">
                        <MicroPortalOverview Carousel=false />
                    </div>
                </section>

                <div style="clear:both;">
                    <br />
                    <div id="technologies">Technologies used overall
                    <section class="dgrid">
                        <div class="dcard">Blazor</div>
                        <div class="dcard">MVC</div>
                        <div class="dcard">C#</div>
                        <div class="dcard">Razor</div>
                        <div class="dcard">Bootstrap</div>
                        <div class="dcard">HTML</div>
                        <div class="dcard">CSS</div>
                        <div class="dcard">XML</div>
                        <div class="dcard">Javascript</div>
                        <div class="dcard">Jquery</div>
                        <div class="dcard">SQL</div>
                        <div class="dcard">LinQ</div>
                    </section>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <Contact />
            <br />
            <br />
        </div>
    </div>
</body>

