<div style="transform:scale(@scalesize)">
        <header>
        <h3 class="logo"><a target="_blank" href="https://logservice.secondsoft.nl/">Secondlog</a></h3>
        </header>
    <a target="_blank" href="https://logservice.secondsoft.nl/" class="image fit"><img src="./images/showcase/2ndlogpage.jpg" /></a>
    <br/>
    <br/>
        <p>The most standard and easiest log service you have ever worked with. </p>
        <br/>
        <ul class="actions special">
        <li><a target="_blank" href="https://logservice.secondsoft.nl/" class="button textcolor">Full Story <i class="fa-solid fa-up-right-from-square"></i></a></li>
        </ul>
    </div>
    <br/>


   
@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; } 

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }
       
    }
}

