@page "/SecondsoftOverview"
<div style="transform:scale(@scalesize)">
        <header>
            <h3><a href="/">Secondsoft</a></h3>
        </header>
        <br/>
    <a target="_blank" href="https://secondsoft.nl/" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/ShowCase/2ndSoftPage.jpg" /><br />
        <br />
        Secondsoft (this website) &nbsp; <i class="fa-solid fa-up-right-from-square"></i>
    </a>
    <p>The main website is his own showcase in Blazor technology</p>
        <ul class="actions special">
        <li><a href="secondsoft" class="button textcolor">Full Story</a></li>
        </ul>
    </div>


   
@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; } 

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }
       
    }
}

