@page "/SecondsoftOverview"

<div style="transform:scale(@scalesize)">
    <header>
        <h3><a style="color:@mycolor;" href="secondsoft">Secondsoft</a></h3>
    </header>
    <br />
    <a href="secondsoft" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/ShowCase/2ndSoftPage.jpg" /><br />
    </a>
    <p style="color:@mycolor;">The main website is his own showcase in Blazor technology</p>
    <br />
    <br />
    <div>
        <a href="secondsoft" class="btn btn-outline-dark dbutton" style="color: @mycolor;box-shadow: inset 0 0 0 2px @mycolor">Full Story</a>
    </div>
</div>



@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; }
    [Parameter]
    public string mycolor { get; set; } = "black";
    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}

