@page "/SecondlogOverview"
<style>
    #SecondlogOverview .mycolor{
    color: @mycolor;
    }
</style>
<div id="SecondlogOverview" style="transform:scale(@scalesize)">
        <header>
        <h3><a class="mycolor" target="_blank" href="https://logservice.secondsoft.nl/">Secondlog</a></h3>
        </header>
    <a target="_blank" href="https://logservice.secondsoft.nl/" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/ShowCase/2ndLogPage.jpg" /><br />
    </a>
    <p class="mycolor">The most standard and easiest log service you have ever worked with. </p>
        <div>
        <a target="_blank" href="https://logservice.secondsoft.nl/" class="btn btn-outline-dark dbutton mycolor" style="box-shadow: inset 0 0 0 2px @mycolor">
            Full Story <i class="fa-solid fa-up-right-from-square"></i></a>
        </div>
    </div>
    <br/>


   
@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; } 
    [Parameter]
    public string mycolor { get; set; } = "black";
    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }
       
    }
}

