@page "/SecondsoftOverview"

<div style="transform:scale(@scalesize)">
    <header>
        <h3><a href="secondsoft">Secondsoft</a></h3>
    </header>
    <br />
    <a href="secondsoft" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/ShowCase/2ndSoftPage.jpg" /><br />
    </a>
    <p>The main website is his own showcase in Blazor technology</p>
    <div class="absolute"  style="text-align:center; ">
        <a href="secondsoft" class="btn btn-outline-dark dbutton textcolor" >Full Story</a>
    </div>
</div>



@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}

