@page "/SecondlogOverview"
<div style="transform:scale(@scalesize)">
        <header>
        <h3 class="logo"><a target="_blank" href="https://logservice.secondsoft.nl/">Secondlog</a></h3>
        </header>
    <a target="_blank" href="https://logservice.secondsoft.nl/" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/ShowCase/2ndLogPage.jpg" /><br />
    </a>
        <p>The most standard and easiest log service you have ever worked with. </p>
        <div>
        <a target="_blank" href="https://logservice.secondsoft.nl/" class="btn btn-outline-dark dbutton ">Full Story <i class="fa-solid fa-up-right-from-square"></i></a>
        </div>
    </div>
    <br/>


   
@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; } 

    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }
       
    }
}

