@page "/SecondsoftOverview"
<style>
    #secondsoftoverview .mycolor{
    color: @mycolor;
    }
</style>
<div id="secondsoftoverview" style="transform:scale(@scalesize)">
    <header>
        <h3><a class="mycolor" href="secondsoft">Secondsoft</a></h3>
    </header>
    <br />
    <a href="secondsoft" style="text-decoration:underline;">
        <img style="max-width:100%;" src="./Images/ShowCase/2ndSoftPage.jpg" /><br />
    </a>
    <p style="mycolor">The main website is his own showcase in Blazor technology</p>
    <br />
    <div class="mt-auto">
        <a href="secondsoft" class="btn btn-outline-dark dbutton mycolor" style="box-shadow: inset 0 0 0 2px @mycolor">Full Story</a>
    </div>
</div>



@code {
    [Parameter]
    public bool Carousel { get; set; } = true;
    [Parameter]
    public string scalesize { get; set; }
    [Parameter]
    public string mycolor { get; set; } = "black";
    protected override async Task OnParametersSetAsync()
    {
        if (Carousel)
        {
            scalesize = "0.7";
        }

    }
}

