@page "/ShowCase"

<style>
    body {
        background-color: #222B31 !important;
        color: burlywood
    }

    .main {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
    }

    .imgAssembly {
    }

    .logo {
        border-color: burlywood !important;
    }

    table tbody tr {
        border: none;
        background-color: transparent !important;
    }

    .sampleblock {
        float: left;
        padding-right: 20px;
    }

    .subtitle{
        color:burlywood !important;
    }

    @@media screen and (max-width: 1000px) {
    }
</style>

<PageTitle>About this Web-Design</PageTitle>

<!-- Wrapper -->
<div id="wrapper">
    <header id="header">
        <a href="Dinand.html" class="logo" style="color:blanchedalmond;font-size:1.2rem">
            <span class="badge bg-danger">Different designs</span>
            <span class="badge bg-light text-dark">Different techniques</span>
            <span class="badge bg-primary">It is a showcase</span>
        </a>

    </header>
    <div class="upperblock maintext" style="color:burlywood">A sneaky look</div>


    <!-- Main -->
    <div id="main" style="background-color:transparent ;">
        @* <a target="_blank" href="https://airtable.com/shr4bkeuciESQk03D" class="requestbutton">
        <i style="float: right;" class="fas fa-circle-info"></i><br />Request<br /> my<br />Resume.
        </a>*@
        <br />
        <div class="container">
            <div style="clear:both;"></div>

            <div style="font-size: 0.85em;">
                Sample pages <br />
                <div class="sampleblock">
                    <a target="_blank" href="https://secondsoft.nl/" style="color:burlywood;text-decoration:underline; white-space:nowrap">
                        <img src="./Images/ShowCase/2ndSoftPage.jpg" style="height: 140px; width:auto;" /><br />
                        Secondsoft (this website) &nbsp; <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                    <br />
                    <br />
                </div>
                <div class="sampleblock">
                    <a target="_blank" href=" http://fitmate.secondsoft.nl/" style="color:burlywood;text-decoration:underline;">
                        <img src="./Images/ShowCase/FitmatePage.jpg" style="height: 140px; width:auto;" /><br />
                        Fitmate &nbsp; <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                    <br />
                    <br />

                </div>
                <div class="sampleblock">
                    <a target="_blank" href="https://logservice.secondsoft.nl/" style="color:burlywood; text-decoration:underline;">
                        <img src="./Images/ShowCase/2ndLogPage.jpg" style="height: 140px; width:auto;" /><br />
                        2ndLog &nbsp; <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                    <br />
                </div>
                <div class="sampleblock">
                    <i class="fa-regular fa-comment-dots"></i>And more to come.
                </div>
                <br />
                <br />
                <br />

            </div>

            <div style="clear:both;">
                <br />
                <table class="table table-sm table-responsive borderless" >
                    <thead>
                        <tr>
                            <th rowspan="2" style="text-align:center;">Technologies used</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Blazor</td>
                            <td>Bootstrap</td>
                        </tr>
                        <tr>
                            <td>HTML</td>
                            <td>CSS</td>
                        </tr>
                        <tr>
                            <td>Javascript</td>
                            <td>Jquery</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="clear:both;"></div>
        <Contact />
        <br />
        <br />
    </div>
</div>

@code {
    string message = "Choose below how to contact me ";

    private async Task Alert(string msg)
    {
        await JsRuntime.InvokeAsync<object>("Alert", msg);
    }
}
