@page "/UnderConstruction"
@using System.ComponentModel.DataAnnotations;
@using SecondSoft.Helpers;
@using SecondSoft.Models
@inject IEmails emails;
<style>
    body {
        color: white;
    }
</style>
<div class=" col-5" style="float:left;">
<img class="imgcenter"  src="./images/underconstruction.png" alt="under construction" />
    <div style="font-size:.80em; text-align:center; color:#FAC533">And thank you for your understanding.</div>
</div>
<div class="main col-5" style="text-align:center; font-size:2em; margin:10px; display:block; float:left">
    Worklist
</div>

<div style="clear:both;"></div>
<hr />


<div class="col-6" style="font-size:.75em;float:left;">
    <i style="color:#FAC533" class="fa-solid fa-circle-right"></i> This site will be maintained between projects.  <br />
    <i style="color:#FAC533" class="fa-solid fa-circle-info"></i> About my recent projects and activities. <br />
    <img style="width:20px; height:20px;" src="./images/blazor_icon.png" alt="under construction" />  &nbsp; &nbsp;Deze webapp is gemaakt in Blazor
</div>
<div class="col-6" style="font-size:.75em; float:left; margin-bottom:50px">
    <table>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Make content for the Home page and restyle it</td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Rewrite MicroPortal page and restyle it</td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Rewrite Barmate page and restyle it</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Restore styling in About me page</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Restore styling in portfolio</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Insert About me (raw data) into secondsoft.nl</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Insert Portfolio page (raw data) into secondsoft.nl</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Insert Barmate page (raw data) into secondsoft.nl</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Insert Microportal page (raw data) into secondsoft.nl</td>
        </tr>
        <tr>
            <td><input type="checkbox" checked /></td>
            <td>Quick fix: Iframe my github site into the portfolio page.</td>
        </tr>
    </table>
</div>

<br/>
<br/>
@code {

}
