@page "/UnderConstruction"

<style>
    :root {
        --tcolor: white;
    }

    body {
        background-color: #222B31 !important;
    }
</style>
<br />
<div class="col-5" style="float:left;">
    <img class="imgcenter" src="./images/underconstruction.png" alt="under construction" />
    <div style="font-size:.80em; text-align:center; color:#FAC533">And thank you for your understanding.</div>
</div>
<div class="main col-5" style="text-align:center; font-size:2em; margin:10px; float:left; color: var(--tcolor);">
    Worklist
</div>

<div style="clear:both;"></div>
<hr />

<div style="color: var(--tcolor);">
    <div class="col-6" style="font-size:.75em;float:left;">
        <h4 style="color:var(--tcolor);">See how this site goes</h4>
        <i style="color:crimson" class="fa-solid fa-circle-right"></i> This site will be maintained between projects.  <br />
        <i style="color:#FAC533" class="fa-solid fa-circle-info"></i> About my recent projects and activities. <br />
        <img style="width:20px; height:20px;background-color:var(--tcolor);" src="./images/blazor_icon.png" alt="under construction" />  &nbsp; &nbsp;This webapp is made in Blazor
    </div>
    <div class="col-6" style="font-size:.75em; float:left; margin-bottom:50px">
        <table>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Create a page for 2ndLog with content </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Create a page for Fitmate with content </td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /> </td>
                <td>Restyle menu to top menu </td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    Clean up old CSS and replace / rebuild old with newer css level. (Clean-up leftovers from the merge of three sites).
                    Over 80% decreased by restyling on a higher css level (4-11)
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Blazor choose page (26-10) </td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Merge showcase page with portfolio (24-10) </td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Rewrite full story for Barmate and add to page by a link or button (19-10) </td>
            </tr>

            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Contact part modification, too busy and to many styles now (18-10) </td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Add carousel on homepage and add pages to it (15-10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Replace about and bullet area's with design (14-10) </td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Content for Home page (12-10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Make content for the Home page and restyle it (11-10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Rewrite MicroPortal page and restyle it(9-10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Rewrite and restyle Barmate page</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Restore styling in MicroPortal page(8/10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Restore styling in Barmate page(8-10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Restore styling in About me page (7/10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Restore styling in portfolio (7/10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Insert About me (raw data) into secondsoft.nl(6/10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Insert Portfolio page (raw data) into secondsoft.nl(5/10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Insert Barmate page (raw data) into secondsoft.nl(4-10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Insert Microportal page (raw data) into secondsoft.nl(2-10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Quick fix: Iframe my github site into the portfolio page(2-10)</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Bring this website, my github portfolio page, and several project descriptions together into one website. Preparation (30-09)</td>
            </tr>
            <tr>
                <td></td>
                <td><i class=" fa-solid fa-ellipsis fa-2x"></i></td>
            </tr>
        </table>
    </div>
</div>
<br />
<br />
@code {

}
