@page "/UnderConstruction"
@using System.ComponentModel.DataAnnotations;
@using SecondSoft.Helpers;
@using SecondSoft.Models
@inject IEmails emails;
<style>
    body {
        color: white;
    }
</style>
<div class="main col-5" style="text-align:center; font-size:2em; margin:10px; display:block; float:left">Why
</div>
<img class="imgcenter" src="./images/underconstruction.png" alt="under construction" />

<div style="font-size:.80em; text-align:left">And thank you for your understanding.</div>
<hr />


<div class="col-6" style="font-size:.75em;float:left;">
    Between projects I maintain this site. <br />
    It shows information from some recent projects and about my activities. <br />
</div>
<div class="col-6" style="font-size:.75em; float:left; margin-bottom:50px">
    <table>
        <tr>
            <td>10-7 </td>
            <td>Tested the whole website and published it.</td>
        </tr>
        <tr>
            <td>10-6 </td>
            <td>Fixed the Portfolio and the about me page.</td>
        </tr>
        <tr>
            <td>10-5 </td>
            <td>Barmate and Microportal pages created with raw data.</td>
        </tr>
        <tr>
            <td>10-4 </td>
            <td>Combine my three website to this one.</td>
        </tr>
        <tr>
            <td>10-3 </td>
            <td>Embed my github site into the portfolio page.</td>
            <td>Tested and deployed.</td>
        </tr>
    </table>
</div>

<br/>
<br/>
@code {

}
