@page "/Vue"

<style>
    :root {
        --fontColor: white;
        --fontSize: 0.85rem;
    }

    body {
        background-color: #222B31 !important;
    }

    .title {
        color: var(--fontColor);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5em;
        font-weight: bold
    }

    .maintext {
        font-size: 2em;
    }

    @@media screen and (max-width: 1200px) {
        .title {
            font-size: 3em;
        }
    }

    @@media screen and (max-width: 990px) {
        .maintext {
            font-size: 1em;
        }
    }

    @@media screen and (max-width: 640px) {
        .maintext {
            font-size: .85em;
        }
    }
</style>

<PageTitle>Why Vue</PageTitle>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <a href="Vue" class="title">
                Vue is the answer
            </a>
        </header>
        <div class="upperblock maintext">For existing projects and non .net teams</div>
        <!-- Main -->
        <div id="main" style="padding-left:20px;color:white">
            <p>
                <br />
                <h3>Research</h3>
                 <a class="btn btn-outline-dark " style="color:var(--fontColor); border-color:white;" href="ResearchFramework">You can see a re-cap of my research here</a><br />
               <br/>
               <h3>VUE</h3>
                 Upcomming...............<br />
                 At this page I will tell you about VUE.JS<br/>
                 <br/>
                <img src="./images/vueart.png" />
                <br/>
                <br />
                <br />
            </p>
        </div>
    </div>
</body>
@code {
    protected override async Task OnParametersSetAsync()
    {

    }
}



