<div class="subtitle" style="font-size:0.85em;margin-left:15px;">
    <div class="subtitle" style=" font-size:2em">Curious - questions - interest.</div>
    <!-- Calendly link widget begin -->
    <a href="" class="subtitle" style="font-size:1em;text-decoration:underline;color: #888B8D !important;" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/dinand-dotnet/60min'});return false;"><img style="max-height:25px;" src="images/Calendlylogo.png" alt="" /> Plan a meeting with me</a>
    <!-- Calendly link widget end -->
    <p><a @onclick="() => Alert(message)">Or contact me. <i class="fas fa-arrow-circle-down"></i></a></p>
</div>

@code {
    string message = "You can choose from the icons below how to contact me ";

    private async Task Alert(string msg)
    {
        await JsRuntime.InvokeAsync<object>("Alert", msg);
    }
}
