@page "/contact"
<style>
    #contactmain{
        font-size: 0.85em;
        margin-left: 15px;
        color: @mycolor !important;
    }

    #contactmain .dbutton{
            box-shadow: inset 0 0 0 2px @mycolor
    }

    #contactmain a{
            color: @mycolor;
    }
</style>
<div id="contactmain">
    <div class="subtitle" style="font-size:2em"><i>Curious - questions - interest.</i></div>
    <!-- Calendly link widget begin -->
    <div href="" class="dbutton subtitle" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/dinand-dotnet/60min'});return false;">
        Meet with me
    </div>
    <!-- Calendly link widget end -->

    <div class="dbutton subtitle" @onclick="@SiteBarShow" style="color:@mycolor">
        Call me
    </div>
    <a class="subtitle dbutton" target="_blank" href="https://www.secondsoft.nl/businesscard">see my Business card</a>
    <div style="clear:both; padding-bottom:10px;"></div>
    <p><a @onclick="() => Alert(message)" >or contact me by <i class="fas fa-arrow-circle-down"></i></a></p>
</div>

@if (showSitebar)
{
    <_Modal Collapse="@(showSitebar?"block":"none")"></_Modal>
}

@code {
    [Parameter]
    public string mycolor { get; set; } = "black";
    string message = "You can choose from the icons below how to contact me ";
    public bool showSitebar { get; set; }
    void SiteBarShow() => showSitebar = true;
    private async Task Alert(string msg)
    {
        await JsRuntime.InvokeAsync<object>("Alert", msg);
    }
}
