@using SecondSoft.Models
@if (Note != null)
{
    <div class="col-lg-6 single-note-item all-category note-@Note.Group">
        <div class="dashcard dashcard-body">
            <span class="side-stick"></span>
            <h5 class="note-title">@Note.Title</h5>
            @if (!string.IsNullOrEmpty(Note.Text0))
            {
                <div>@Note.Text0</div>
            }
           
        </div>
    </div>
}
@code {
    [Parameter]
    public DashNote Note { get; set; }
}
