@inherits LayoutComponentBase

<PageTitle>SecondSoft</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    <div style="background-image:none;background-color:#393e46;" class="sidebar">
    <NavMenu />
</div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        <footer style="position: fixed; bottom: 0;">
                <div class="container" style="background-color:white;" >
                    &copy; Secondsoft    <a href="@("Message")"> <i class="fas fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/dinand-v-50b72722b/" target="_blank"> <i class="fab fa-linkedin"></i></a>
                <a class="fas" target="_blank" href="https://airtable.com/shr4bkeuciESQk03D"><img style="width:15px; height:15px" src="./images/formedit.jpg" /></a>
            </div>
            </footer>
    </main>
</div>
