@inherits LayoutComponentBase

<PageTitle>SecondSoft</PageTitle>

<NavMenu />

<main class="container">
    @Body
     <footer style="position: fixed; bottom: 0;">
                <div class="container" style="background-color:white;" > &copy; Secondsoft
                <a target="_blank" style="padding-left:2em;" href="mailto:dinand.dotnet@gmail.com"> <i class="fas fa-envelope"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/dinand-v-50b72722b/"> <i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://airtable.com/shr4bkeuciESQk03D"><i class="fas fa-solid fa-pen-to-square"></i></a>
            </div>
            </footer>
</main>