<style>
    .brand {
        display: inline-flex;
        max-width: 80px;
    }

    .bgBackground {
        background-color: #212931;
    }
</style>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm bgBackground box-shadow">
    <div class="container">
        <a class="navbar-brand" href="#" style=""><img class="brand" src="./images/logo/2nd Home Logo Border.png" /></a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1" style="white-space: nowrap;">
                <li class="nav-item" style="padding-top:0;">
                   @* <NavLink class="nav-link" href="PortFolio" @onclick="() => expandSubNavSettings=false">
                        <a class="fas" style="height:2rem;"> <img src="./Images/Portfolio_Icon.png" style="width:20px; height:20px" /></a>
                        &nbsp;&nbsp; Portfolio
                    </NavLink>*@
                    <NavLink class="nav-link" href="ResearchFramework" @onclick="() => expandSubNavSettings=false">
                        <a class="fas" style="height:2rem;"> <i class="fa-solid fa-file-lines"></i> </a>
                    &nbsp;&nbsp; Research frameworks
                    </NavLink>
                </li>
              @*  <li class="nav-item dropdown show">
                    <NavLink class="nav-link dropdown-toggle text-white" @onclick="() => expandSubNavSettings = !expandSubNavSettings" id="navbarDropdown">
                        <i class="fas fa-solid fa-ellipsis"></i> &nbsp; Projects
                    </NavLink>
                    @if (expandSubNavSettings)
                    {
                    <li class="dropdown-menu show bgBackground" aria-labelledby="navbarDropdown" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
                    <li class="nav-item">
                        <NavLink class="nav-link text-white" href="Barmate">
                            <i class="fas fa-solid fa-champagne-glasses"></i> &nbsp; Barmate
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-white" href="MicroPortal">
                            <i class="fas fa-solid fa-vial"></i> &nbsp; MicroPortal
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-white" target="_blank" href="http://fitmate.secondsoft.nl/">
                            <a class="fas" style="height:2rem;"> <img src="./Images/Fitmatlogosmall32_white.png" style="width:20px; height:20px" /></a>
                            &nbsp;&nbsp; Fitmate &nbsp;<i class="fa-solid fa-up-right-from-square"></i>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-white" target="_blank" href="https://logservice.secondsoft.nl/">
                            <a class="fas" style="height:2rem;"> <img src="./Images/logo/2ndLogWhite.png" style="width:20px; height:20px" /></a>
                            &nbsp;  2ndLog &nbsp; <i class="fa-solid fa-up-right-from-square"></i>
                        </NavLink>
                    </li>
                    </li>
                    }
                </li>*@
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="MeAtWork" @onclick="() => expandSubNavSettings=false">
                        <i class="fas fa-solid fa-person-digging"></i> &nbsp; Me @@ work
                    </NavLink>
                </li>



            </ul>
        </div>
    </div>
</nav>
@code {

    bool collapseNavMenu = true;

    private bool expandSubNavSettings;


    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        if (!expandSubNavSettings)
        {
            collapseNavMenu = !collapseNavMenu;
        }


    }
}