<style>
    i {
        display: inline-block;
        margin-right: 1em;
    }
</style>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SecondSoft</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PortFolio">
                <a class="fas" style="height:2rem;"> <img src="./Images/Portfolio_Icon.png" style="width:20px; height:20px" /></a>&nbsp; &nbsp;  Portfolio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Barmate">
                <i class="fas fa-solid fa-champagne-glasses"></i> Barmate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MicroPortal">
                <i class="fas fa-solid fa-vial"></i> MicroPortal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" target="_blank" href="http://fitmate.secondsoft.nl/">
                <a class="fas" style="height:2rem;"> <img src="./Images/Fitmatlogosmall32_white.png" style="width:20px; height:20px" /></a>&nbsp; &nbsp;  Fitmate &nbsp;  <i class="fa-solid fa-up-right-from-square"></i>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" target="_blank" href="https://logservice.secondsoft.nl/">
                <a class="fas" style="height:2rem;"> <img src="./Images/2ndLogWhite.png" style="width:20px; height:20px" /></a>&nbsp; &nbsp;  2ndLog &nbsp; <i class="fa-solid fa-up-right-from-square"></i>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UnderConstruction">
                <i class="fas fa-solid fa-person-digging"></i> <div style="font-size: .75em">Under Construction</div>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
