<style>
    :root{
     --bs-modal-width @bodyWidth*/
    }
    .modal{
        width: @bodyWidth
    }
</style>

<div class="modal fade-scale-sidebar " id="myModal" style="display:@Collapse" aria-modal="true" role="dialog">
    <div class="modal-dialog" style="width:@bodyWidth !important">
        <div class="modal-content">

            @*Modal Header *@
            <div class="modal-header" style="display:block; padding:0px 7px; border-bottom:none">
                <a class="close" style="float: right; text-decoration: none;" @onclick="@ModalCancel"><h2 style="color:black;">&times;</h2></a>
            </div>
            @*modal-body*@
            <div class="modal-body">
                <img src="@CurrentImage" />
            </div>
        </div>
    </div>
</div>
@*<hr />*@
@code
{
    public void ModalCancel() => Collapse = "none";
}
@functions {
    [Parameter]
    public string Collapse { get; set; } = "none";
    [Parameter]
    public EventCallback<string> OnClickFunction { get; set; }
    [Parameter]
    public List<(string, string)> ScreenShots { get; set; } = new();
    [Parameter]
    public string CurrentImage { get; set; }
    private string bodyWidth;

    protected override async Task OnParametersSetAsync()
    {
        bodyWidth = "1100px";
        
    }
}